<div id="<%= dom_id indicator %>">
  <p>
    <strong>Indicator type:</strong>
    <%= indicator.indicator_type %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= indicator.value %>
  </p>

  <p>
    <strong>Confidence:</strong>
    <%= indicator.confidence %>
  </p>

  <p>
    <strong>First seen:</strong>
    <%= indicator.first_seen %>
  </p>

  <p>
    <strong>Last seen:</strong>
    <%= indicator.last_seen %>
  </p>

  <p>
    <strong>Source:</strong>
    <%= indicator.source_id %>
  </p>

</div>
