<div id="<%= dom_id threat_actor %>">
  <p>
    <strong>Name:</strong>
    <%= threat_actor.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= threat_actor.description %>
  </p>

  <p>
    <strong>First seen:</strong>
    <%= threat_actor.first_seen %>
  </p>

  <p>
    <strong>Last seen:</strong>
    <%= threat_actor.last_seen %>
  </p>

</div>
