<div
  class="
    overflow-hidden bg-white rounded-xl border border-gray-200 dark:border-gray-800
    dark:bg-white/[0.03]
  "
>
  <div class="overflow-x-auto max-w-full">
    <table class="min-w-full">
      <!-- table header start -->
      <thead>
        <tr class="border-b border-gray-100 dark:border-gray-800">
          <th class="py-3 px-5 sm:px-6">
            <div class="flex items-center">
              <p class="font-medium text-gray-500 dark:text-gray-400 text-theme-xs">
                IP
              </p>
            </div>
          </th>
          <th class="py-3 px-5 sm:px-6">
            <div class="flex items-center">
              <p class="font-medium text-gray-500 dark:text-gray-400 text-theme-xs">
                Services
              </p>
            </div>
          </th>
          <th class="py-3 px-5 sm:px-6">
            <div class="flex items-center">
              <p class="font-medium text-gray-500 dark:text-gray-400 text-theme-xs">
                DNS
              </p>
            </div>
          </th>
          <th class="py-3 px-5 sm:px-6">
            <div class="flex items-center">
              <p class="font-medium text-gray-500 dark:text-gray-400 text-theme-xs">
                Vulnerabilities
              </p>
            </div>
          </th>

          <th class="py-3 px-5 sm:px-6">
            <div class="flex items-center">
              <p class="font-medium text-gray-500 dark:text-gray-400 text-theme-xs">
                Last updated
              </p>
            </div>
          </th>
        </tr>
      </thead>
      <!-- table header end --> <!-- table body start -->
      <tbody class="divide-y divide-gray-100 dark:divide-gray-800">
        <% hosts.each do |host| %>

          <tr>
            <td class="py-4 px-5 sm:px-6">
              <div class="flex items-center">
                <div class="flex flex-col gap-y-3 items-start">
                  <div>
                    <span class="block font-medium text-gray-800 text-theme-sm dark:text-white/90">
                      <%= host.ip %>
                    </span>
                  </div>
                  <div>
                    <%= link_to app_predictions_path(host_id: host.id), class: "btn btn-secondary btn-sm" do %>
                      View Predictions
                    <% end %>
                  </div>
                </div>
              </div>
            </td>
            <td class="py-4 px-5 sm:px-6">
              <div class="flex items-center">
                <p class="text-gray-500 dark:text-gray-400 text-theme-sm">
                  <%= host.services.map(&:port).join(",") %>
                </p>
              </div>
            </td>

            <td class="py-4 px-5 sm:px-6">
              <div class="flex items-center space-x-1">
                <% if host.dns.present? %>
                  <% host.dns.dns_records.map(&:domain).each do |record| %>
                    <p
                      class="
                        py-0.5 px-2 font-medium rounded-full bg-success-50 text-theme-xs
                        text-success-700 dark:bg-success-500/15 dark:text-success-500
                      "
                    >
                      <%= record %>
                    </p>
                  <% end %>
                <% else %>
                  No DNS
                <% end %>
              </div>
            </td>
            <td class="py-4 px-5 sm:px-6">
              <div class="flex items-center">
                <p class="text-gray-500 dark:text-gray-400 text-theme-sm">
                  <%= host.vulnerabilities.map(&:cve_id).join(", ") %>
                </p>
              </div>
            </td>
            <td class="py-4 px-5 sm:px-6">
              <div class="flex items-center">
                <p class="text-gray-500 dark:text-gray-400 text-theme-sm">
                  <%= host.updated_at.strftime("%Y %m %d") %>
                </p>
              </div>
            </td>

          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
