<aside
  :class="sidebarToggle ? 'translate-x-0 lg:w-[90px]' : '-translate-x-full'"
  class="
    sidebar fixed left-0 top-0 z-9999 flex h-screen w-[290px] flex-col
    overflow-y-hidden border-r border-gray-200 bg-white px-5 dark:border-gray-800
    dark:bg-black lg:static lg:translate-x-0
  "
>
  <!-- SIDEBAR HEADER -->
  <div
    :class="sidebarToggle ? 'justify-center' : 'justify-between'"
    class="flex items-center gap-2 pt-8 sidebar-header pb-7"
  >
    <%= link_to root_path do %>
      <span class="logo" :class="sidebarToggle ? 'hidden' : ''">
        <%= image_tag "logos/1.png", class: "h-16 mx-auto" %>
      </span>
    <% end %>
  </div>
  <!-- SIDEBAR HEADER -->
  <div
    class="flex flex-col overflow-y-auto duration-300 ease-linear no-scrollbar"
  >
    <!-- Sidebar Menu -->
    <nav x-data="{selected: $persist('Dashboard')}">
      <!-- Menu Group -->
      <div>
        <ul class="flex flex-col gap-4 mb-6">
          <!-- Menu Item Dashboard -->
          <li>
            <%= link_to root_path, class: class_names('menu-item group', 'active': current_page?(root_path))  do %>
              <%= icon "house-plug", class: "w-5 h-5 text-primary-500" %>
              Dashboard
            <% end %>
          </li>

          <li>
            <%= link_to app_sources_path, class: class_names('menu-item group', 'active': current_page?(app_sources_path))  do %>
              <%= icon "brain-circuit", class: "w-5 h-5 text-primary-500" %>
              Intel sources
            <% end %>
          </li>

          <li>
            <%= link_to app_events_path, class: class_names('menu-item group', 'active': current_page?(app_events_path))  do %>
              <%= icon "workflow", class: "w-5 h-5 text-primary-500" %>
              Security Events
            <% end %>
          </li>

          <li>
            <%= button_to destroy_user_session_path, class: 'menu-item group', method: :delete do %>
              <%= icon "log-out", class: "w-5 h-5 text-primary-500" %>
              Sign out
            <% end %>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</aside>
