<aside
  :class="sidebarToggle ? 'translate-x-0 lg:w-[90px]' : '-translate-x-full'"
  class="
    flex overflow-y-hidden fixed top-0 left-0 flex-col px-5 h-screen bg-white
    border-r border-gray-200 lg:static lg:translate-x-0 sidebar z-9999 w-[290px]
    dark:border-neutral-700/10 dark:bg-neutral-900/50
  "
>
  <div
    class="
      flex overflow-y-auto flex-col mt-12 duration-300 ease-linear no-scrollbar
    "
  >
    <!-- Sidebar Menu -->
    <nav x-data="{selected: $persist('Dashboard')}">
      <!-- Menu Group -->
      <div>
        <ul class="flex flex-col gap-4 mb-6">
          <!-- Menu Item Dashboard -->
          <li>
            <%= link_to root_path, class: class_names('menu-item group', 'active': current_page?(root_path))  do %>
              <%= icon "house-plug", class: "w-5 h-5 text-primary-500" %>
              Dashboard
            <% end %>
          </li>

          <li>
            <%= link_to app_sources_path, class: class_names('menu-item group', 'active': current_page?(app_sources_path))  do %>
              <%= icon "brain-circuit", class: "w-5 h-5 text-primary-500" %>
              Intel sources
            <% end %>
          </li>

          <li>
            <%= link_to app_indicators_path, class: class_names('menu-item group', 'active': current_page?(app_indicators_path))  do %>
              <%= icon "shield-alert", class: "w-5 h-5 text-primary-500" %>
              Indicators of Compromise
            <% end %>
          </li>

          <li>
            <%= link_to app_events_path, class: class_names('menu-item group', 'active': current_page?(app_events_path))  do %>
              <%= icon "workflow", class: "w-5 h-5 text-primary-500" %>
              Security Events
            <% end %>
          </li>

          <li>
            <%= link_to app_threat_actors_path, class: class_names('menu-item group', 'active': current_page?(app_threat_actors_path))  do %>
              <%= icon "users", class: "w-5 h-5 text-primary-500" %>
              Threat Actors
            <% end %>
          </li>

          <li>
            <%= link_to app_predictions_path, class: class_names('menu-item group', 'active': current_page?(app_predictions_path))  do %>
              <%= icon "trending-up-down", class: "w-5 h-5 text-primary-500" %>
              Predictions
            <% end %>
          </li>

          <li>
            <%= link_to app_hosts_path, class: class_names('menu-item group', 'active': current_page?(app_hosts_path))  do %>
              <%= icon "server", class: "w-5 h-5 text-primary-500" %>
              Assets
            <% end %>
          </li>

          <li>
            <%= link_to app_reports_path, class: class_names('menu-item group', 'active': current_page?(app_reports_path))  do %>
              <%= icon "file-chart-line", class: "w-5 h-5 text-primary-500" %>
              Intelligence Reports
            <% end %>
          </li>
          <li>
            <%= button_to destroy_user_session_path, class: 'menu-item group', method: :delete do %>
              <%= icon "log-out", class: "w-5 h-5 text-primary-500" %>
              Sign out
            <% end %>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</aside>
