<div id="<%= dom_id source %>">
  <p>
    <strong>Name:</strong>
    <%= source.name %>
  </p>

  <p>
    <strong>Source type:</strong>
    <%= source.source_type %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= source.url %>
  </p>

  <p>
    <strong>Reliability:</strong>
    <%= source.reliability %>
  </p>

  <p>
    <strong>Last update:</strong>
    <%= source.last_update %>
  </p>

</div>
