<p style="color: green"><%= notice %></p>

<%= render @source %>

<div>
  <%= link_to "Edit this source", edit_app_source_path(@source) %> |
  <%= link_to "Back to sources", app_sources_path %>

  <%= button_to "Destroy this source", [:app, @source], method: :delete %>
</div>
