<div class="grid gap-4 sm:grid-cols-2 sm:gap-6 lg:grid-cols-4">
  <!-- Card -->
  <div
    class="
      flex flex-col bg-white rounded border border-gray-200 dark:bg-neutral-800
      dark:border-neutral-700
    "
  >
    <div class="p-4 md:p-5">
      <div class="flex gap-x-2 items-center">
        <p class="text-xs text-gray-500 uppercase dark:text-neutral-500">
          Assets
        </p>
      </div>

      <div class="flex gap-x-2 items-center mt-1">
        <h3 class="text-xl font-medium text-gray-800 sm:text-2xl dark:text-neutral-200">
          <%= @total_hosts %>
        </h3>
      </div>
    </div>
  </div>
  <!-- End Card --> <!-- Card -->
  <div
    class="
      flex flex-col bg-white border border-gray-200 dark:bg-neutral-800
      dark:border-neutral-700
    "
  >
    <div class="p-4 md:p-5">
      <div class="flex gap-x-2 items-center">
        <p class="text-xs text-gray-500 uppercase dark:text-neutral-500">
          Threat actors
        </p>
      </div>

      <div class="flex gap-x-2 items-center mt-1">
        <h3 class="text-xl font-medium text-gray-800 sm:text-2xl dark:text-neutral-200">
          <%= @total_threat_actors %>
        </h3>
      </div>
    </div>
  </div>
  <!-- End Card --> <!-- Card -->
  <div
    class="
      flex flex-col bg-white border border-gray-200 dark:bg-neutral-800
      dark:border-neutral-700
    "
  >
    <div class="p-4 md:p-5">
      <div class="flex gap-x-2 items-center">
        <p class="text-xs text-gray-500 uppercase dark:text-neutral-500">
          Predictions
        </p>
      </div>

      <div class="flex gap-x-2 items-center mt-1">
        <h3 class="text-xl font-medium text-gray-800 sm:text-2xl dark:text-neutral-200">
          <%= number_to_human @total_predictions %>
        </h3>
      </div>
    </div>
  </div>
  <!-- End Card --> <!-- Card -->
  <div
    class="
      flex flex-col bg-white border border-gray-200 dark:bg-neutral-800
      dark:border-neutral-700
    "
  >
    <div class="p-4 md:p-5">
      <div class="flex gap-x-2 items-center">
        <p class="text-xs text-gray-500 uppercase dark:text-neutral-500">
          Security Events
        </p>
      </div>

      <div class="flex gap-x-2 items-center mt-1">
        <h3 class="text-xl font-medium text-gray-800 sm:text-2xl dark:text-neutral-200">
          <%= number_to_human @total_events %>
        </h3>
      </div>
    </div>
  </div>
  <!-- End Card -->
</div>

<div class="grid gap-4 mt-12 sm:gap-6 lg:grid-cols-1">
  <!-- Card --> <!-- End Card --> <!-- Card -->
  <div
    class="
      flex flex-col p-4 bg-white border border-gray-200 md:p-5 min-h-102.5
      dark:bg-neutral-800 dark:border-neutral-700
    "
  >
    <!-- Header -->
    <div class="flex flex-wrap gap-2 justify-between items-center">
      <div>
        <h2 class="text-sm text-gray-500 dark:text-neutral-500">
          Prediction trends
        </h2>
        <p class="text-xl font-medium text-gray-800 sm:text-2xl dark:text-neutral-200">
        </p>
      </div>
      <%= line_chart Prediction.group_by_day(:created_at).count %>
    </div>
    <!-- End Header -->
  </div>
  <!-- End Card -->
</div>
